*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #191919;
}

.carousel{
    width: 640px;
    display: flex;
    overflow-x: scroll;
}

.items-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.items-container canvas{
    width: 100%;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}


#backbtn, #nextbtn{
    width: 50px;
    height: 50px;
    padding: 10px;
} 